<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center"></h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">Nombre</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="Nombre">
				</div>
				<div class="form-group">
					<label for="lastName">Apellido</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Apellido">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Usuario</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Usuario">
				</div>
				<div class="form-group">
					<label for="password">Contraseña</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Contraseña">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Registrarse</button>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>