<section class="row" data-ng-controller="PasswordController">
    <h3 class="col-md-12 text-center">Cambie su contraseña</h3>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
        <form data-ng-submit="resetUserPassword()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="newPassword">Nueva Contraseña</label>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="Nueva Contraseña">
                </div>
                <div class="form-group">
                    <label for="verifyPassword">Verificar Contraseña</label>
                    <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verificar Contraseña">
                </div>
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Actualizar contraseña</button>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
                <div data-ng-show="success" class="text-center text-success">
                    <strong>{{success}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
