<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>
	<p>Estimado {{name}},</p>
	<p></p>
	<p>Esta es una confirmación de que su password ha sido actualizado</p>
	<br>
	<br>
	<p>{{appName}}</p>
</body>

</html>