<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
</head>

<body>

	<p>Estimado {{name}},</p>
	<br>
	<p>
		Usted a solicitado el reinicio del passwors para su usuario en {{appName}}
	</p>
	<p>Por favor dirijase a la siguiente dirección para reiniciar su password:</p>
	<p>{{url}}</p>
	<strong>Si usted no ha realizado esta solicitud. Por favor ignore este correo</strong>
	<br>
	<br>
	<p>{{appName}}</p>
</body>

</html>