<section data-ng-controller="CertificacionTecnicaBarcosController">
    <div class="page-header">
        <h1>Nueva Certificación Técnica de Barco</h1>
    </div>

    <form name="myform" class="form-horizontal" data-ng-submit="myform.$valid && create()" novalidate>
        <div ng-include="'./modules/certificaciontecnicabarcos/views/fields-certificaciontecnicabarcos.client.view.html'"></div>
    </form>    
</section>