<section data-ng-controller="CertificacionTecnicaBarcosController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Editar Certificación Técnica de Barco</h1>
    </div>

    <form name="myform" class="form-horizontal" ng-submit="myform.$valid && update()" novalidate>
        <div ng-include="'./modules/certificaciontecnicabarcos/views/fields-certificaciontecnicabarcos.client.view.html'"></div>
    </form>

    <audit-info entity="certificaciontecnicabarco" />
</section>