<fieldset>
    <div class="row">
        <div class="col-md-5">
            <h3>{{barco.grupo.nombre}}</h3>
        </div>
        <div class="col-md-5">
            <h3>{{barco.nombre}}</h3>
        </div>
        <div class="col-md-2" style="vertical-align:bottom">
            <h3>
                <button type="button" 
                        class="btn btn-primary"
                        ng-click="remove()"
                        ng-show="canBeDeleted()">
                    Eliminar
                </button>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label class="control-label" for="fechaDesde">Fecha Desde</label>
            <p class="input-group">
                <input id="fechaDesde" name="fechaDesde" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="certificaciontecnicabarco.fechaDesde" is-open="opened.fechaDesde" show-button-bar="false" ng-required="true" ng-change="generarFechas()" />
                <span class="input-group-btn">
                    <button type="button" 
                    class="btn btn-default" 
                    ng-click="open($event, 'fechaDesde')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
        <div class="col-md-5">
            <label class="control-label" for="fechaHasta">Fecha Hasta</label>
            <p class="input-group">
                <input id="fechaHasta" name="fechaHasta" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="certificaciontecnicabarco.fechaHasta" is-open="opened.fechaHasta" show-button-bar="false" ui-validate="'certificaciontecnicabarco.fechaDesde < $value'" ui-validate-watch=" 'certificaciontecnicabarco.fechaDesde' " ng-required="true" />
                <span class="input-group-btn">
                    <button type="button" 
                    class="btn btn-default" 
                    ng-click="open($event, 'fechaHasta')">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
            <span ng-if="certificaciontecnicabarco.fechaDesde > certificaciontecnicabarco.fechaHasta" class="text-danger">
                Fecha Hasta debe ser mayor que Fecha Desde
            </span>
        </div>
        <div class="col-md-2">
            <label class="control-label visible-md-inline-block visible-lg-inline-block">&nbsp;</label>
            <p class="input-group">
                <button type="button" class="btn btn-success" ng-model="certificaciontecnicabarco.cumplida" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-disabled="!certificaciontecnicabarco.habilitarCumplida" ng-change="habilitarBotones()">
                    {{ certificaciontecnicabarco.cumplida ? 'Cumplida' : 'Por Cumplir' }}
                </button>
            </p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label" for="comentarios">Comentarios</label>
            <div class="controls">
                <textarea data-ng-model="certificaciontecnicabarco.comentarios" id="comentarios" class="form-control" placeholder="Comentarios" rows="3">
                </textarea>
            </div>
        </div>
    </div>
    <h4>Verificaciones</h4>
    <section ng-repeat="verificacionAnual in certificaciontecnicabarco.verificaciones | filter:{anioVerificacion: '!!'}">
        <div class="row">
            <div class="col-md-4">
                <label class="control-label" for="nombre$index">Nombre</label>
                <div class="controls">
                    <input type="text" data-ng-model="verificacionAnual.nombre" id="nombre$index" class="form-control" placeholder="Nombre" ng-required="true" />
                </div>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="verificacionAnual_fechaDesde_{{$index}}">Fecha Desde</label>
                <p class="input-group">
                    <input id="verificacionAnual_fechaDesde_{{$index}}" 
                        type="text" class="form-control" 
                        datepicker-popup="dd-MM-yyyy" 
                        ng-model="verificacionAnual.fechaDesde" 
                        is-open="opened.verificacionAnual_fechaDesde[$index]" 
                        show-button-bar="false" 
                        ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" 
                        ng-click="open($event, 'verificacionAnual_fechaDesde', $index)">
                        <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="verificacionAnual_fechaHasta_{{$index}}">Fecha Hasta</label>
                <p class="input-group">
                    <input id="verificacionAnual_fechaHasta_{{$index}}" 
                        name="verificacionAnual_fechaHasta_{{$index}}" 
                        type="text" class="form-control" 
                        datepicker-popup="dd-MM-yyyy" 
                        ng-model="verificacionAnual.fechaHasta" 
                        ui-validate="'verificacionAnual.fechaDesde < $value'" 
                        ui-validate-watch=" 'verificacionAnual.fechaDesde' " 
                        is-open="opened.verificacionAnual_fechaHasta[$index]" 
                        show-button-bar="false" 
                        ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" 
                        ng-click="open($event, 'verificacionAnual_fechaHasta', $index)">
                        <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
                <span ng-if="verificacionAnual.fechaDesde >= verificacionAnual.fechaHasta" class="text-danger">
                    Fecha Hasta debe ser mayor que Fecha Desde
                </span>
            </div>
            <div class="col-md-2">
                <label class="control-label visible-md-inline-block visible-lg-inline-block">&nbsp;</label>
                <p class="input-group">
                    <button type="button" class="btn btn-success" ng-model="verificacionAnual.cumplida" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-disabled="!verificacionAnual.habilitarCumplida" ng-change="habilitarBotones()">
                        {{ verificacionAnual.cumplida ? 'Cumplida' : 'Por Cumplir' }}
                    </button>
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label" for="comentarios">Comentarios</label>
                <div class="controls">
                    <textarea data-ng-model="verificacionComplementaria.comentarios" id="comentarios" class="form-control" placeholder="Comentarios" rows="3">
                    </textarea>
                </div>
            </div>
        </div>
    </section>
    <h4>Verificaciones Adicionales</h4>
    <button type="button" ng-click="nuevaVerificacionComplementaria()" class="btn btn-primary">
        Nueva Verificación Adicional
    </button>
    <div ng-repeat="verificacionComplementaria in certificaciontecnicabarco.verificaciones | filter:{anioVerificacion: '!'}">
        <div class="row">
            <div class="col-md-4">
                <label class="control-label" for="nombre$index">Nombre</label>
                <div class="controls">
                    <input type="text" data-ng-model="verificacionComplementaria.nombre" id="nombre$index" class="form-control" ng-required="true" />
                </div>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="verificacionComplementaria_fechaDesde_{{$index}}">Fecha Desde</label>
                <p class="input-group">
                    <input id="verificacionComplementaria_fechaDesde_{{$index}}" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="verificacionComplementaria.fechaDesde" is-open="opened.verificacionComplementaria_fechaDesde[$index]" show-button-bar="false" ng-required="true" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" 
                        ng-click="open($event, 'verificacionComplementaria_fechaDesde', $index)">
                        <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="verificacionComplementaria_fechaHasta_{{$index}}">Fecha Hasta</label>
                <p class="input-group">
                    <input id="verificacionComplementaria_fechaHasta_{{$index}}" 
                        type="text" 
                        class="form-control" 
                        datepicker-popup="dd-MM-yyyy" 
                        ng-model="verificacionComplementaria.fechaHasta" 
                        is-open="opened.verificacionComplementaria_fechaHasta[$index]" 
                        show-button-bar="false" 
                        ng-required="true" 
                        ui-validate="'verificacionComplementaria.fechaDesde < $value'" 
                        ui-validate-watch=" 'verificacionComplementaria.fechaDesde' " />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" 
                        ng-click="open($event, 'verificacionComplementaria_fechaHasta', $index)">
                        <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
                <span ng-if="verificacionComplementaria.fechaDesde >= verificacionComplementaria.fechaHasta" class="text-danger">
                    Fecha Hasta debe ser mayor que Fecha Desde
                </span>
            </div>
            <div class="col-md-2">
                <label class="control-label visible-md-inline-block visible-lg-inline-block">&nbsp;</label>
                <p class="input-group">
                    <button type="button" class="btn btn-primary" ng-model="verificacionComplementaria.cumplida" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" ng-change="habilitarBotones()">
                        {{ verificacionComplementaria.cumplida ? 'Cumplida' : 'Por Cumplir' }}
                    </button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <label class="control-label" for="comentarios">Comentarios</label>
                <div class="controls">
                    <textarea data-ng-model="verificacionComplementaria.comentarios" id="comentarios" class="form-control" placeholder="Comentarios" rows="3">
                    </textarea>
                </div>
            </div>
            <div class="col-md-2">
                <label class="control-label">&nbsp;</label>
                <p class="input-group">
                    <button type="button" class="btn btn-warning" ng-click="eliminarVerificacionAnual(verificacionComplementaria)">
                        Eliminar
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group pull-right">
            <input type="submit" value="{{isNew ? 'Guardar' : 'Actualizar'}}" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
            <strong data-ng-bind="error"></strong>
        </div>
    </div>
</fieldset>
