<section data-ng-controller="CertificaciontecnicabarcosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Certificaciontecnicabarcos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="certificaciontecnicabarco in certificaciontecnicabarcos" data-ng-href="#!/certificaciontecnicabarcos/{{certificaciontecnicabarco._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="certificaciontecnicabarco.created | date:'medium'"></span>
				by
				<span data-ng-bind="certificaciontecnicabarco.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="certificaciontecnicabarco.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!certificaciontecnicabarcos.$resolved || certificaciontecnicabarcos.length">
    	No Certificaciontecnicabarcos yet, why don't you <a href="/#!/certificaciontecnicabarcos/create">create one</a>?
    </div>
</section>