<small>
	<div class="row">
		<div class="col-md-3">Creado por: {{entity.user.displayName}}</div>
		<div class="col-md-3">Fecha creación: {{entity.created | date:'dd-MM-yyyy'}}</div>
		<div ng-show="entity.updateUser" class="col-md-3">
			Actualizado por: {{entity.updateUser.displayName}}
		</div>
		<div ng-show="entity.updated" class="col-md-3">
			Fecha actualización: {{entity.updated | date:'dd-MM-yyyy'}}
		</div>
	</div>
</small>
			
