<section data-ng-controller="GruposController" data-ng-init="getDashboardInfo()">
    <div class="page-header">
        <h1>Tareas</h1>
    </div>
    <div>
        <fieldset>
            <div class="form-group">
                <div class="controls">
                    <input type="text" 
                    data-ng-model="searchText" 
                    id="nombre" 
                    class="form-control" 
                    placeholder="Ingrese criterio de busqueda">
                </div>    
            </div>
        </fieldset>    
    </div>
    <div class="list-group">
        <a data-ng-repeat="dashboardRow in dashboardData| multiWordFilter:searchText | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage" 
            data-ng-href="#!/{{dashboardRow.type}}/{{dashboardRow.id}}/edit" 
            class="list-group-item">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="list-group-item-heading" data-ng-bind="dashboardRow.nombre"></h4>
                </div>           
                <div class="col-md-6" style="font-weight: bold;">
                    <h4 class="list-group-item-heading" >
                        <span style="color: black">{{dashboardRow.fechaDesde | date:'dd-MM-yyyy'}}</span>
                        <span>-</span>
                        <span style="color: red">{{dashboardRow.fechaHasta | date:'dd-MM-yyyy'}}</span>
                    </h4>
                </div>

            </div>
            <h4 class="list-group-item-heading" data-ng-bind="dashboardRow.desc"></h4>
        </a>
    </div>

<div style="text-align:center;">
    <button class="btn btn-primary" ng-disabled="pagination.page == 0" ng-click="pagination.prevPage()">
        Anterior
    </button>
    <button class="btn btn-primary" ng-disabled="pagination.page + 1 >= pagination.numPages" ng-click="pagination.nextPage()">
        Siguiente
    </button>
</div>

</section>