<div class="modal-header">
    <h3 class="modal-title">Esta seguro que desea borrar?</h3>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close()">Aceptar</button>
    <button class="btn btn-warning" ng-click="$dismiss()">Cancelar</button>
</div>
