<section data-ng-controller="GruposController" data-ng-init="find()">
    <div class="page-header">
        <h1>Grupos</h1>
    </div>
    <a class="btn btn-primary" href="/#!/grupos/create">
        Nuevo Grupo
    </a>         
    <div class="list-group">
        <a data-ng-repeat="grupo in grupos" data-ng-href="#!/grupos/{{grupo._id}}" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="grupo.nombre"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!grupos.$resolved || grupos.length">
        No hay grupos creados <a href="/#!/grupos/create">Crear</a>?
    </div>
</section>
