<section data-ng-controller="GruposController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="grupo.nombre"></h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/grupos/{{grupo._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" ng-show="!grupo.empresas.length" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

    <div class="list-group">
		<a class="btn btn-primary" href="/#!/empresas/create/{{grupo._id}}">
			Nueva Empresa
		</a>    
        <a data-ng-repeat="empresa in grupo.empresas" data-ng-href="#!/empresas/{{empresa._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="empresa.nombre"></h4>
        </a>
	    <div class="alert alert-warning text-center" data-ng-hide="grupo.empresas.length">
	        No hay empresas creadas <a href="/#!/empresas/create/{{grupo._id}}">Crear</a>?
	    </div>  
    </div>

    <div class="list-group">
		<a class="btn btn-primary" href="/#!/barcos/create/{{grupo._id}}">
			Nueva Barco
		</a>    
        <a data-ng-repeat="barco in grupo.barcos" data-ng-href="#!/barcos/{{barco._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="barco.nombre"></h4>
        </a>
	    <div class="alert alert-warning text-center" data-ng-hide="grupo.barcos.length">
	        No hay barcos creados <a href="/#!/barcos/create/{{grupo._id}}">Crear</a>?
	    </div>  
    </div>

	<audit-info entity="grupo" />

</section>