<section data-ng-controller="CertificacionDocumentalEmpresasController">
    <div class="page-header">
        <h1>Nueva Certificación Documental de Empresa</h1>
    </div>

    <form name="myform" class="form-horizontal" data-ng-submit="myform.$valid && create()" novalidate>
        <div ng-include="'./modules/certificaciondocumentalempresas/views/fields-certificaciondocumentalempresas.client.view.html'"></div>
    </form>    
</section>