<section data-ng-controller="CertificacionDocumentalEmpresasController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Editar Certificación Documental de Empresa</h1>
    </div>
    <form name="myform" class="form-horizontal" ng-submit="myform.$valid && update()" novalidate>
        <div ng-include="'./modules/certificaciondocumentalempresas/views/fields-certificaciondocumentalempresas.client.view.html'"></div>
    </form>

    <audit-info entity="certificaciondocumentalempresa" />
</section>