<section data-ng-controller="CertificacionDocumentalEmpresasController" data-ng-init="find()">
    <div class="page-header">
        <h1>CertificacionDocumentalEmpresas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="certificaciondocumentalempresa in certificaciondocumentalempresas" data-ng-href="#!/certificaciondocumentalempresas/{{certificaciondocumentalempresa._id}}/edit" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="certificaciondocumentalempresa.created | date:'medium'"></span>
				by
				<span data-ng-bind="certificaciondocumentalempresa.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="certificaciondocumentalempresa.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!certificaciondocumentalempresas.$resolved || certificaciondocumentalempresas.length">
    	No CertificacionDocumentalEmpresas yet, why don't you <a href="/#!/certificaciondocumentalempresas/create">create one</a>?
    </div>
</section>