<section data-ng-controller="CertificacionDocumentalEmpresasController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="certificaciondocumentalempresa.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == certificaciondocumentalempresa.user._id">
		<a class="btn btn-primary" href="/#!/certificaciondocumentalempresas/{{certificaciondocumentalempresa._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="certificaciondocumentalempresa.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="certificaciondocumentalempresa.user.displayName"></span>
		</em>
	</small>
</section>