<section data-ng-controller="EmpresasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Empresas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="empresa in empresas" data-ng-href="#!/empresas/{{empresa._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="empresa.nombre"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!empresas.$resolved || empresas.length">
    	No hay empresas creadas aun <a href="/#!/empresas/create">Crear</a>?
    </div>
</section>