<section data-ng-controller="EmpresasController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="empresa.nombre"></h1>
	</div>	
	<div class="row">
		<div class="col-xs-6">
		    <a class="btn btn-primary" 
		    	href="/#!/certificaciondocumentalempresas/create/{{empresa._id}}" 
		    	ng-show="!hasCertificacionPorCumplir()">
				Nueva Certificación Documental Empresa
			</a>   	
		</div>
		<div class="col-xs-6">
			<div class="pull-right">
				<a class="btn btn-primary" href="/#!/empresas/{{empresa._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" ng-show="!empresa.certificacionesDocumentales.length" data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
		</div>
	</div>
    <div class="list-group">
        <a data-ng-repeat="certificaciondocumentalempresa in empresa.certificacionesDocumentales | orderBy: fechaDesde" data-ng-href="#!/certificaciondocumentalempresas/{{certificaciondocumentalempresa._id}}/edit" class="list-group-item">
			<h4 class="list-group-item-heading">
	    		<div class="row">
	        		<div class="col-md-6">Certificación Documental Empresa</div>
	        		<div class="col-md-6">
	        			{{certificaciondocumentalempresa.fechaDesde | date:'dd-MM-yyyy'}} - {{certificaciondocumentalempresa.fechaHasta | date:'dd-MM-yyyy'}}
	        			{{certificaciondocumentalempresa.cumplida ? ' (Cumplida)' : ''}}
	        		</div>
	        	</div>
			</h4>
        </a>
    </div>

	<audit-info entity="empresa" />

</section>