<section data-ng-controller="TipocertificaciontecnicabarcosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Tipo de Certificación Tecnica de Barcos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="tipocertificaciontecnicabarco in tipocertificaciontecnicabarcos" data-ng-href="#!/tipocertificaciontecnicabarcos/{{tipocertificaciontecnicabarco._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="tipocertificaciontecnicabarco.nombre"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!tipocertificaciontecnicabarcos.$resolved || tipocertificaciontecnicabarcos.length">
        No hay tipo de certificación creadas aún <a href="/#!/tipocertificaciontecnicabarcos/create">Crear</a>?
    </div>
</section>