<section data-ng-controller="TipocertificaciontecnicabarcosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="tipocertificaciontecnicabarco.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == tipocertificaciontecnicabarco.user._id">
		<a class="btn btn-primary" href="/#!/tipocertificaciontecnicabarcos/{{tipocertificaciontecnicabarco._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<audit-info entity="tipocertificaciontecnicabarco" />
</section>