<section data-ng-controller="CertificacionDocumentalBarcosController">
    <div class="page-header">
        <h1>Nueva Certificación Documental de Barco</h1>
    </div>

    <form name="myform" class="form-horizontal" data-ng-submit="myform.$valid && create()" novalidate>
        <div ng-include="'./modules/certificaciondocumentalbarcos/views/fields-certificaciondocumentalbarcos.client.view.html'"></div>
    </form>    
</section>