<section data-ng-controller="CertificacionDocumentalBarcosController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Editar Certificación Documental de Barco</h1>
    </div>
    <form name="myform" class="form-horizontal" ng-submit="myform.$valid && update()" novalidate>
        <div ng-include="'./modules/certificaciondocumentalbarcos/views/fields-certificaciondocumentalbarcos.client.view.html'"></div>
    </form>

    <audit-info entity="certificaciondocumentalbarco" />
</section>