<section data-ng-controller="CertificacionDocumentalBarcosController" data-ng-init="find()">
    <div class="page-header">
        <h1>CertificacionDocumentalBarcos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="certificaciondocumentalbarco in certificaciondocumentalbarcos" data-ng-href="#!/certificaciondocumentalbarcos/{{certificaciondocumentalbarco._id}}/edit" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="certificaciondocumentalbarco.created | date:'medium'"></span>
                by
                <span data-ng-bind="certificaciondocumentalbarco.user.displayName"></span>
            </small>
            <h4 class="list-group-item-heading" data-ng-bind="certificaciondocumentalbarco.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!certificaciondocumentalbarcos.$resolved || certificaciondocumentalbarcos.length">
        No CertificacionDocumentalBarcos yet, why don't you <a href="/#!/certificaciondocumentalbarcos/create">create one</a>?
    </div>
</section>