<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">Edite su perfil</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">Nombre</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="Nombre">
				</div>
				<div class="form-group">
					<label for="lastName">Apellido</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Apellido">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Usuario</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Usuario">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Guardar Perfil</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Perfil guardado correctamente</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
