<section data-ng-controller="BarcosController" data-ng-init="find()">
    <div class="page-header">
        <h1>Barcos</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="barco in barcos" data-ng-href="#!/barcos/{{barco._id}}" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="barco.nombre"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!barcos.$resolved || barcos.length">
        No hay barcos creadas aun <a href="/#!/barcos/create">Crear</a>?
    </div>
</section>