<section data-ng-controller="BarcosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="barco.nombre"></h1>
	</div>	
	<div class="row">
		<div class="col-xs-6">
		    <a class="btn btn-primary" 
		    	href="/#!/certificaciondocumentalbarcos/create/{{barco._id}}" 
		    	ng-show="!hasCertificacionDocumentalPorCumplir()">
				Nueva Certificación Documental Barco
			</a>   	
		</div>
		<div class="col-xs-6">
			<div class="pull-right">
				<a class="btn btn-primary" href="/#!/barcos/{{barco._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" 
					ng-show="!barco.certificacionesDocumentales.length && !barco.certificacionesTecnicas.length" 
					data-ng-click="remove();">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
		</div>
	</div>
    <div class="list-group">
        <a data-ng-repeat="certificaciondocumentalbarco in barco.certificacionesDocumentales | orderBy: fechaDesde" data-ng-href="#!/certificaciondocumentalbarcos/{{certificaciondocumentalbarco._id}}/edit" class="list-group-item">
			<h4 class="list-group-item-heading">
	    		<div class="row">
	        		<div class="col-md-6">Certificación Documental Barco</div>
	        		<div class="col-md-6">
	        			{{certificaciondocumentalbarco.fechaDesde | date:'dd-MM-yyyy'}} - {{certificaciondocumentalbarco.fechaHasta | date:'dd-MM-yyyy'}}
	        			{{certificaciondocumentalbarco.cumplida ? ' (Cumplida)' : ''}}
	        		</div>
	        	</div>
			</h4>
        </a>
    </div>

	<div class="row">
		<div class="col-xs-6">
		    <a class="btn btn-primary" 
		    	href="/#!/certificaciontecnicabarcos/create/{{barco._id}}" 
		    	ng-show="!hasCertificacionTecnicaPorCumplir()">
				Nueva Certificación Técnica Barco
			</a>   	
		</div>
	</div>
    <div class="list-group">
        <a data-ng-repeat="certificaciontecnicabarco in barco.certificacionesTecnicas | orderBy: fechaDesde" data-ng-href="#!/certificaciontecnicabarcos/{{certificaciontecnicabarco._id}}/edit" class="list-group-item">
			<h4 class="list-group-item-heading">
	    		<div class="row">
	        		<div class="col-md-6">Certificación Técnica Barco</div>
	        		<div class="col-md-6">
	        			{{certificaciontecnicabarco.fechaDesde | date:'dd-MM-yyyy'}} - {{certificaciontecnicabarco.fechaHasta | date:'dd-MM-yyyy'}}
	        			{{certificaciontecnicabarco.cumplida ? ' (Cumplida)' : ''}}
	        		</div>
	        	</div>
			</h4>
        </a>
    </div>
    
	<audit-info entity="barco" />

</section>